ul {
  border: 1px solid #333333;
  background: url("menu.svg") 8px 50% no-repeat;
  background-size: 24px;
  
  li {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ccc;
  }
}